Source: qtpfsgui
Section: graphics
Priority: extra
Maintainer: Debian PhotoTools Maintainers <pkg-phototools-devel@lists.alioth.debian.org>
Uploaders: Cyril Brulebois <kibi@debian.org>
Build-Depends: debhelper (>= 5), cdbs, quilt, libqt4-dev, libexiv2-dev, libfftw3-dev, libopenexr-dev, libtiff4-dev
Standards-Version: 3.8.0
Homepage: http://qtpfsgui.sourceforge.net/
Vcs-Browser: http://git.debian.org/?p=pkg-phototools/qtpfsgui.git
Vcs-Git: git://git.debian.org/git/pkg-phototools/qtpfsgui.git

Package: qtpfsgui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dcraw
Description: graphical user interface providing a workflow for HDR imaging
 Features:
  * Create an HDR file from a set of images (formats: JPEG, TIFF 8bit and
    16bit, RAW) of the same scene taken at different exposure setting.
  * Save and load HDR images.
  * Rotate and resize HDR images.
  * Tonemap HDR images.
  * Copy exif data between sets of images.
 .
 Supported HDR formats:
  * OpenEXR (extension: exr).
  * Radiance RGBE (extension: hdr).
  * Tiff formats: 16bit, 32bit (float) and LogLuv (extension: tiff).
  * Raw image formats (extension: various).
  * PFS native format (extension: pfs).
 .
 Supported LDR formats: JPEG, PNG, PPM, PBM, TIFF (8 bit).
